.request{ "data-message" => message.id, "data-path" => act_admission_request_message_path(message), style: "display: inline;" }
  .btn.btn-mini.btn-primary.accept{ "data-decision" => "accept" }
    Accept
  .btn.btn-mini.btn-danger.decline{ "data-decision" => "decline" }
    Decline
