- if check_permission
  %li.side-nav-header
    Catalog
  %li
    %a.btn.btn-popover{ :href => "#", rel: 'popover', data: { 'popover_content_selector' => '.new_cat_form', placement: 'right', 'original-title' => "New" } }
      %i.icon-folder-close
      New
  - if current_catalog.present?
    %li
      %a.btn.btn-popover{ :href => "#", rel: 'popover', data: { 'popover_content_selector' => '.edit_cat_form', placement: 'right', 'original-title' => "Edit" } }
        %i.icon-edit
        Edit
    - unless current_catalog.is_root?
      %li
        %a.btn.btn-popover.move-up{ :href => "#", "data-parent-id" => (current_catalog.parent.id unless current_catalog.is_root?) }
          %i.icon-hand-up
          Move up
      %li
        %a.btn.btn-popover{ :href => "#", rel: 'popover', data: { 'popover_content_selector' => '.move_cat_form', placement: 'right', 'original-title' => "Move to resource" } }
          %i.icon-edit
          Move to
    %li.last-item
      = link_to '<i class = "icon-remove"></i> Delete'.html_safe, current_catalog, method: :delete, confirm: "You will lose all data which this catalog contains (folders and files). Are You sure?", class: 'btn btn-danger' 
    = render 'shared/modal'
    %li.side-nav-header
      Files
    %li
      %a.btn.btnModal{ href: "", role: 'button', data: { toggle: 'modal', 'modal_content_selector' => '.file_upload' }, remote: 'true'}
        %i.icon-file
        New

  = render 'shared/catalog_forms'
  = render partial: 'move_form'

