%li.side-nav-header
  Dicom
%li
  %a.btn{ href: catalog_dicom_file_tags_path(@dicom) }
    %i.icon-group
    Show Tags
%li
  %a.btn{ href: catalog_dicom_file_choose_tags_path(@dicom) }
    %i.icon-group
    Edit Tags
%li
  %a.btn{ href: new_group_path }
    %i.icon-group
    Display


