.sidebar
  .sidebar-title.hide
    Actions
  .side-off#arrow
    %a.side-link{:href => "#"}
      %i.icon-chevron-right
  .well.sidebar-nav#sidebar-menu
    %ul.nav-list.side-nav-list
      %li.side-nav-header
        Project
      %li
        %a.btn{ href: new_admin_project_path }
          %i.icon-briefcase
          New

