- if @catalogs.any?
  .row-fluid
    .span12.breadcrumb#dir-cont
      .catalog-content
        - @catalogs.each do |cat|
          .element.catalog{ "data-catalog-id" => cat.id }
            - if cat.description.present?
              = link_to image_tag('folder-close.png', class: 'folder', rel: 'tooltip', data: { placement: 'top', 'original-title' => "#{ cat.description }" }), cat
            - else
              = link_to image_tag('folder-close.png', class: 'folder'), cat
            %br
            = cat.name

