= render "shared/sidebar"
.desktop
  .container-fluid
    .row-fluid
      .span12
        - if current_catalog
          = render 'catalogs/catalog_path'
    .row-fluid
      .span12.breadcrumb#dir-cont
        = render 'shared/catalogs'
