.hide.file_upload
  .containera
    %h2 Upload files
    = simple_form_for @dicomfile, html: { multipart: true, id: 'fileupload' } do |f|
      .row.fileupload-buttonbar
        .span7
          %span.btn.fileinput-button
            %i.icon-plus
            %span Add files...
            = f.file_field :dicom
          %button.btn.start{ type: 'submit' }
            %i.icon-upload
            %span Start upload
          %button.btn.delete{ type: 'button' }
            %i.icon-trash
            %span Delete
          %input.toggle{ type: 'checkbox' }
        .span5
          .progress.progress-success.progress-striped.active.fade
            .bar
      .fileupload-loading
      %br
      %table.table.table-striped
        %tbody.files{ data: { toggle: 'modal-gallery', target: '#modal-gallery' } }
