.modal.hide#myModal{ overflow: 'hidden', tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true' }
  .modal-header
    %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
      X
    %h3#myModalLabel
      Modal Header
  .modal-body
  .modal-footer
    %button.btn.modal-dismiss{ 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
      Close
    %button.btn.btn-primary.modal-dismiss
      Save Changes
