.sidebar
  .side-off#arrow
    %a.side-link{:href => "#"}
      %i.icon-chevron-right
  .well.sidebar-nav#sidebar-menu
    %ul.nav.nav-list
      %li.nav-header
        %a.btn#edit{ :href => "#", rel: 'clickover', data: {content: 'siema', placement: 'right', 'original-title' => "Edit" } }
          Edit current catalog
