.sidebar
  .side-off#arrow
    %a.side-link{:href => "#"}
      %i.icon-chevron-right
  .well.sidebar-nav#sidebar-menu
    %ul.nav.nav-list
      %li.nav-header
        %a.btn#new_cat_btn{ :href => "#", rel: 'popover', data: {placement: 'right', 'original-title' => "Edit" } }
          Edit
