- case current_resource_name
  - when "catalogs"
    = render "shared/sidebars/catalog_sidebar"
  - when "admin/groups"
    = render "shared/sidebars/group_sidebar"
  - when "admin/projects"
    = render "shared/sidebars/project_sidebar"

