.sidebar
  .side-off#arrow
    %a.side-link{:href => "#"}
      %i.icon-chevron-right
  .well.sidebar-nav#sidebar-menu
    %ul.nav.nav-list
      %li.nav-header
        - if current_catalog.present?
          %a.btn.btn-popover{ :href => "#", rel: 'popover', data: { 'popover_content_selector' => '.edit_cat_form', placement: 'right', 'original-title' => "Edit" } }
            Edit
        %a.btn.btn-popover{ :href => "#", rel: 'popover', data: { 'popover_content_selector' => '.new_cat_form', placement: 'right', 'original-title' => "New" } }
          New

