@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;    
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin top-right-rounded-corner($radius) {
    -webkit-border-top-right-radius: $radius;
    -khtml-border-radius-topright: $radius;  
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}

@mixin bottom-right-rounded-corner($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -khtml-border-radius-bottomright: $radius;  
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}

@mixin box-shadow($shadow1, $shadow2, $shadow3, $shadow-color) {
  -webkit-box-shadow: $shadow1 $shadow2 $shadow3 $shadow-color;
     -moz-box-shadow: $shadow1 $shadow2 $shadow3 $shadow-color;
          box-shadow: $shadow1 $shadow2 $shadow3 $shadow-color;
}

@mixin base_props {
  margin: 0px;
  padding: 0px;
}

@mixin base_list_props {
  list-style-type: none;
  @include base_props;
}

@mixin navbar {
  @include border-radius(15px);
  background-color: black;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* buttons */

.btn-primary {
  margin-top: 10px;
}

.nav > li > a:hover {
}

  .content {
  display: block;
  height: 100%;
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
  height: auto;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* universal */

html {
  overflow-y: scroll;
  @include base_props;
  height: 100%;
  background: {
    image: url("main.jpg");
    size: 100%;
  }
}

body {
  height: 100%;
  @include base_props;
  background-color: transparent;
}

#body-container {
    width: 100%;
}

.content {
  padding-bottom: 25px;
  height: 400px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.catalog-content {
  .element {
    float: left;
    text-align: center;
    padding: 5px 5px 0px 5px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .navbar {
    margin-bottom: 0px;
  }
}

.desktop {
  margin-left: 50px;
}

#dir-cont {
  padding: 0 0 0;
  @include border-radius(10px);
  @include box-shadow(-5px, 5px, 10px, #797070);
}

#path {
  @include border-radius(10px);
}

/* Sidebar */
.sidebar {
  $top: 100px;
  position: fixed;
  left: 0;
  top: $top;
  width: 10px;

  .sidebar-title {
    color: whiteSmoke;
    position: fixed;
    top: $top + 10px;
    left: 80px;
    font-size: large;
  }
}

.show {
  width: 200px;
}

.side-on {
  width: 250px;
  height: 40px;
  background-color: black;
  @include bottom-right-rounded-corner(10px);
  @include top-right-rounded-corner(10px);
}

.side-off {
  width: 50px;
  height: 40px;
}

.side-link {
    background-color: black;
    color: white;
    padding: 10px 20px;
    height: 20px;
    display: block;
    float: right;
    @include bottom-right-rounded-corner(10px);
    @include top-right-rounded-corner(10px);
}

#sidebar-menu {
  display: none;
  @include border-radius(0);
  @include bottom-right-rounded-corner(10px);
}

#arrow {
  @include bottom-right-rounded-corner(10px);
  @include top-right-rounded-corner(10px);
}

.side-nav-list {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;

  .side-nav-header {
    font-size: large;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
  }

  i {
    vertical-align: middle;
    height: 15px;
  }

  .btn {
    font-size: 15px;
  }

  li {
    padding: 5px; 
  }

  .last-item {
    margin-bottom: 15px;
  }
}


.modal {
  width: auto;
  top: 60%;
  left: 35%;
  max-height: auto;

}

.navbar {
  .dropdown-menu {
    margin-top: -4px;
  }
}
